@font-face {
    font-family: 'Montserrat';
    src: url('Fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
}


body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Color de fondo claro */
    height: auto;
    font-family: 'Montserrat';
    overflow-x: hidden;
}

.container-header {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 20%;
    flex-direction: column;
    height: 100vh;
    background-color: #f8f9fa; /* Color de fondo claro */
    background-image: url(img/Fondo_lateral.jpeg);
    background-size:cover;
    background-repeat: no-repeat;
    position: fixed;
    z-index: 3;
}

.logo img {
    display: flex;
    align-self: center;
    justify-self: center;
    max-width: 100%;
    height: 10vh;
}

h1 {
    color: #333;
    margin: 0;
    margin-top: 20px;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}

.slogan {
    color: #000000;
    margin: 5px 0 0 0;
    font-size: 15px;
    text-align: center;
}

.bloque {
    width: 100%;
    height: 20%;
    background-color: #ffffff00;
    margin: 0;
}

.botones {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 5px;
}

.boton{
    padding: 8px;
    font-size: 14px;
    background-color: #9a101000;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
    font-family: 'Montserrat';
}

#Inicio {
    font-weight: bold;
}

.Image-header {
    width: 100%;
    height: 90vh;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.Image-header img {
    width: 100%;
    height: 100%; /* Ajusta este valor según tus necesidades */
    object-fit: fill;
    position: absolute;
    z-index: 1;
    transform: translate(40vw);
}

.triangulo {
    background-color: rgb(204, 240, 234);
    position: absolute;
    width: 45vw;
    height: 90vh;
    z-index: 2;
    clip-path: polygon(0 0, 100% 0, 60% 100%, 0 100%);
    margin-left: 20vw;
    flex-direction: column;
    align-content: end;
    justify-content: center;
}

.content-triangulo {
    display: flex;
    position: absolute;
    top: 59vh;
    left: 24vw;
    z-index: 4;
    padding: 5px 20px;
    margin: 0;
    background-color: #557ebd;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.233);
}

.content-triangulo h2{
    font-size: 7vh;
    margin: 0;
    color: #ffffff;
    font-weight: bold;
    font-family: "Montserrat";
}

.descripcion {
    position: absolute;
    top: 72vh;
    left: 24vw;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con transparencia */
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 4;
}

.descripcion p {
    margin: 0;
    font-size: 25px;
    color: #333;
    font-weight: bold;
    font-family: 'Montserrat';
}

.contenido-principal {
    height: auto;
    width: auto;
    margin-left: 325px;
    margin-top: 40px;
    position: relative;
    z-index: 2;
}

.contenido-1 {
    display: flex;
    width: 100%;
    height: 50vh;
    background-color: #ffffff;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.block-1 {
    width: 50vi;
    height: 100%;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-left: 6vw;
    box-sizing: border-box;

}

.block-1 h3 {
    font-size: 3.5vh;
    margin: 0;
    color: #333;
    font-weight: bold;
    font-family: 'Montserrat';
}

.block-2 {
    width: 50vi;
    height: 100%;
}

.block-2 img {
    width: 100%;
    height: 100%;
    object-fit:contain;
    border-radius: 8px;
    padding-right: 10vw;
    box-sizing: border-box;
}

.contenido-2 {
    display: flex;
    width: 100%;
    height: auto;
    background-color: #ffffff;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex-direction: column;
}

.block-3 {
    width: 100%;
    height: auto;
    margin-top: 3vi;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.block-3 h3 {
    font-size: 3.5vh;
    margin: 0;
    color: #333;
    font-weight: bold;
    font-family: 'Montserrat';
    text-align: center;
}

.separador {
    width: 5%;
    height: 3px;
    background-color: #095a7a;
    margin: 10px auto;
}

.block-4 {
    width: 100%;
    height: auto;
    flex-direction: row;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.curso {
    width: 20vi;
    height: 20vi;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}
.curso img{
    width: 20vi;
    height: 20vi;
    object-fit:contain;
}

@media (max-width: 900px) {
    .container-header {
        position: fixed;
        width: 100vw;
        height: 15vh;
        flex-direction: row;
        align-items: center;
        z-index: 10;
        background-size: cover;
        box-shadow: -10px 4px 10px -1px, #0000001a 0px 0px 5px 0px;
    }
    .header {
        width: 20%;
    }
    h1 {
        color: #333;
        margin: 0;
        font-size: 2vw;
        text-align: center;
        font-weight: bold;
        overflow-wrap: normal;
    }

    .logo img {
        min-height: 20vh;
        min-width: 10vw;
    }

    .slogan {
        font-size: 1.5vw;
        margin: 0 10px 0 10px;
        text-align: center;
    }

    .bloque {
        width: 5vi;
        height: 10px;
        background-color: #00000000;
    }

    .botones {
        flex-direction: row;
        width: auto;
        gap: 1vw;
    }

    .boton {
        width: auto;
        padding: 8px 3vw;
        font-size: 14px;
    }
    .Image-header {
    width: 100%;
    height: 90vh;
    overflow: hidden;
    position: relative;
    z-index: 1;
    }

    .Image-header img {
        width: 100%;
        height: 100%; /* Ajusta este valor según tus necesidades */
        object-fit: fill;
        position: absolute;
        z-index: 1;
        transform: translate(20vw, 17vh);
    }

    .triangulo {
        background-color: rgb(204, 240, 234);
        position: absolute;
        width: 45vw;
        height: 90vh;
        z-index: 2;
        clip-path: polygon(0 0, 100% 0, 60% 100%, 0 100%);
        margin-left: 0;
        flex-direction: column;
        align-content: end;
        justify-content: center;
    }

    .content-triangulo {
        display: flex;
        position: absolute;
        top: 59vh;
        left: 5vw;
        z-index: 4;
        padding: 5px 20px;
        margin: 0;
        background-color: #557ebd;
        border-radius: 8px;
    }
    .content-triangulo h2{
        font-size: 5vw;
        margin: 0;
        color: #ffffff;
        font-weight: bold;
        font-family: "Montserrat";
    }

    .descripcion {
        position: absolute;
        top: 72vh;
        left: 5vw;
        background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con transparencia */
        padding: 10px 20px;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 4;
    }

    .contenido-principal {
        height: 100%;
        width: 100%;
        margin-left: 0;
        position: relative;
        z-index: 2;
    }
}
