@font-face {
    font-family: 'Montserrat';
    src: url('../Fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-display: swap;
}


body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Color de fondo claro */
    height: auto;
    font-family: 'Montserrat';
    overflow-x: hidden;
}

.container-header {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 20%;
    flex-direction: column;
    height: 100vh;
    background-color: #f8f9fa; /* Color de fondo claro */
    background-image: url(../img/Fondo_lateral.jpeg);
    background-size:cover;
    background-repeat: no-repeat;
    position: fixed;
    z-index: 4;
    opacity: 1;
    transform: translatey(-20px);
    animation: aparecer 1.5s ease forwards;
}


.container-header.Nosotros {
    background-image: None;
    background: linear-gradient(45deg, #42cfe2, #23727e)
}


.header .Nosotros {
    color: #f0f0f0;
}

.botones .Nosotros {
    color: #ffffff;
}

.botones .Horario {
    color: rgb(255, 255, 255);
}

.botones .Contacto {
    color: rgb(255, 255, 255);
}


@keyframes aparecer {
    to {
        opacity: 1;
        transform: translate(0);
    }
}

.logo img {
    display: flex;
    align-self: center;
    justify-self: center;
    max-width: 100%;
    height: 10vh;
    transform: translateX(-20px);
    animation: aparecer 2s ease forwards;
}

h1 {
    color: #333;
    margin: 0;
    margin-top: 20px;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    transform: translateX(-20px);
    animation: aparecer 2s ease forwards;
}

.slogan {
    color: #000000;
    margin: 5px 0 0 0;
    font-size: 15px;
    text-align: center;
    transform: translateX(-20px);
    animation: aparecer 2s ease forwards;
}

.bloque {
    width: 100%;
    height: 20%;
    background-color: #ffffff00;
    margin: 0;
}

.botones {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 5px;
    opacity: 0;
    transform: translateX(-20px);
    animation: aparecer 2s ease forwards;
}

.boton{
    padding: 8px;
    font-size: 14px;
    background-color: #9a101000;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
    font-family: 'Montserrat';
}

.botones.Inicio #Inicio {
    font-weight: bold;
}

.botones.Nosotros #Nosotros{
    font-weight: bold;
}

.botones.Horario #Horarios{
    font-weight: bold;
}

.botones.Contacto #Contacto{
    font-weight: bold;
}


.Image-header {
    width: 100%;
    height: 90vh;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.Image-header img {
    width: 100%;
    height: 100%; /* Ajusta este valor según tus necesidades */
    object-fit: fill;
    position: absolute;
    z-index: 1;
    left: 40vw;
    transform: translateX(-600px);
    animation: aparecer 1.5s ease forwards;
}

.triangulo {
    background-color: rgb(204, 240, 234);
    position: absolute;
    width: 45vw;
    height: 90.1vh;
    z-index: 2;
    clip-path: polygon(0 0, 100% 0, 60% 100%, 0 100%);
    margin-left: 20vw;
    flex-direction: column;
    align-content: end;
    justify-content: center;
    opacity: 1;
    transform: translateX(-400px);
    animation: aparecer 2s ease forwards;
}

.content-triangulo {
    display: flex;
    position: absolute;
    top: 59vh;
    left: 24vw;
    z-index: 3;
    padding: 5px 20px;
    margin: 0;
    background-color: #557ebd;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.233);
    opacity: 0;
    transform: translateX(-600px);
    animation: aparecer 1.5s ease forwards;
}

.content-triangulo h2{
    font-size: 7vh;
    margin: 0;
    color: #ffffff;
    font-weight: bold;
    font-family: "Montserrat";
}

.descripcion {
    position: absolute;
    top: 72vh;
    left: 24vw;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con transparencia */
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 4;
    opacity: 0;
    transform: translateY(40px);
    animation: aparecer 2s ease forwards;
}

.descripcion p {
    margin: 0;
    font-size: 25px;
    color: #333;
    font-weight: bold;
    font-family: 'Montserrat';
}

.contenido-principal {
    height: auto;
    width: auto;
    margin-left: 23vw;
    margin-top: 40px;
    position: relative;
    z-index: 2;
}

.contenido-1 {
    display: flex;
    width: 100%;
    height: 50vh;
    background-color: #ffffff;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.block-1 {
    width: 50vi;
    height: 100%;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 0 6vw;
    box-sizing: border-box;
    transition: all 1s ease-out;
    transform: translateY(20px);
    opacity: 0;
}

.block-1 h3 {
    font-size: 3.5vh;
    margin: 0;
    color: #333;
    font-weight: bold;
    font-family: 'Montserrat';
}

.block-2 {
    width: 50vw;
    height: auto;
    z-index: 4;
    padding: 5vh 5vw 5vh 0;
}

#imagen1 {
    width: 100%;
    height: 100%;
    object-fit:contain;
    border-radius: 8px;
    box-sizing: border-box;
    transition: all 1s ease-out;
    transform: translateY(20px);
    opacity: 0;
}

#imagen1.visible {
    transform: translateY(0px);
    opacity: 1;
}

.block-1.visible{
    transform: translateY(0px);
    opacity: 1;
}

.contenido-2 {
    display: flex;
    width: 100%;
    height: auto;
    background-color: #ffffff;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex-direction: column;
}

.block-3 {
    width: 100%;
    height: auto;
    margin-top: 3vi;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    transition: all 1s ease-out;
    transform: translateY(20px);
    opacity: 0;
}

.block-3.visible{
    transform: translateY(0px);
    opacity: 1;
}

.block-3 h3 {
    font-size: 3.5vh;
    margin: 0;
    color: #333;
    font-weight: bold;
    font-family: 'Montserrat';
    text-align: center;
}

.separador {
    width: 5%;
    height: 3px;
    background-color: #095a7a;
    margin: 10px auto;
    transition: all 1s ease-out;
    transform: translateY(20px);
    opacity: 0;
}

.separador.visible{
    transform: translateY(0px);
    opacity: 1;
}


.block-4 {
    width: 100%;
    height: auto;
    flex-direction: row;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.curso {
    width: 20vi;
    height: 20vi;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;   
    transform: translateY(20px);
    opacity: 0;
}
.curso img{
    width: 20vw;
    height: 20vh;
    object-fit:contain;
    transition: transform 0.5s ease-in-out;
}

.curso.visible {
    transform: translateY(0px);
    opacity: 1; 
}

.curso img:hover {
    transform: scale(1.09) ;
    cursor: pointer;
}


.main.Nosotros {
    width: calc(100% - 21%);
    height: 100vh;
    background-color: rgb(255, 255, 255);
    margin-left: 21%;
    z-index: 4;
    box-sizing: border-box;
}

h2.Nosotros {
    margin: 0;
    padding: 10vh 0 0 10vw;
    font-size: 2rem;
    text-align: left;
    opacity: 0;
    transform: translatex(-20px);
    animation: aparecer 1.5s ease forwards;
}

.barrita.Nosotros {
    z-index: 2;
    width: 5%;
    height: 3px;
    background-color: #095a7a;
    margin: 10px auto 0 13vw;
    transform: translatex(-20px);
    animation: aparecer 1.5s ease forwards;
}

.bloque-1.Nosotros {
    width: 100%;
    height: 50vh;
    margin: 5vh 0;
    background-color: rgb(255, 255, 255);
    z-index: 2;
    object-fit: contain;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}

.bloque-1.Nosotros img {
    width: 40%;
    height: 80%;
    margin-right: 5vh;
}

.b_2 {
    width: 40%;
    height: 80%;
    z-index: 2;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    margin-left: 5vh;
}

.b_2 h3{
    margin: 0 0 10% 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.b_2 p{
    margin: 0 0 8% 0;
    color: #666;
}
.b_3 {
    margin: 0 10%;
}

.b_3 h3 {
    font-size: 1.5rem;
}

.b_3 p {
    margin-right: 10%;
    color: #666;
}


.bloque-1.Horario{
    margin: 5% 15%;
}

.bloque-1.Horario h2{
    font-size: 1rem;
    color: #333;
    font-weight: bold;
}

.bloque-1.Horario p {
    font-size: 1rem;
    color: #666;
}

.b_3.Horario {
    margin: 0 20%;
}

.Fechas {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: #aaaaaa 1px solid;
}

.Fechas p{
    margin-right: 0;
    font-weight: bold;
}

.bloque-1.Contacto {
    background-color: rgb(255, 255, 255);
    margin: 5% 0;
    width: 100%;
    height: 50vh;
    display: flex;
    box-sizing: border-box;
    padding: 0 0;
}

.Datos {
    margin: 1% 0 0 10%;
}

.bloque-1.Contacto form{
    width: 40%;
    height: 90%;
    margin: 1% 0 0 20%;
}

.bloque-1.Contacto form input {
    width: 90%;
    height: 10%;
    font-family: "Montserrat";
    outline: none;
    border: #cfcfcf 2px solid;
}

.Form {
    margin: 2% 0;
    font-weight: bold;
}

form textarea {
    height: 30%;
    width: 90%;
    font-family: "Montserrat";
    border: #cfcfcf 2px solid;
    outline: none;
}

.bloque-1.Contacto form input:focus {
    box-shadow: 0 0 3px black;
    border: #00e1ff 1px solid;
}

form textarea:focus {
    box-shadow: 0 0 3px black;
    border: #00e1ff 1px solid;
}

form #submit {
    width: 20%;
    height: auto;
    padding: 2.5% 0;
    margin-top: 2.5%;
    border-radius: 5px;
    background-color: #333;
    color: white;
}

form #submit:focus {
    box-shadow: 0 0 3px black;
    border: #000000 1px solid;
}

@media (max-width: 600px) {
    .container-header {
        position: fixed;
        width: 100%;
        height: 11vh;
        flex-direction: row;
        align-items: center;
        z-index: 10;
        background-size: cover;
        box-shadow: -10px 4px 10px -1px, #0000001a 0px 0px 5px 0px;
    }
    .logo-slogan {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 20%;
    }
    .header {
        width: 100%;
        margin: 0;
    }
    h1 {
        color: #333;
        margin: 0;
        font-size: 2vw;
        text-align: center;
        font-weight: bold;
        overflow-wrap: normal;
    }

    .logo img {
        min-height: 5px;
        min-width: 5px;
    }

    .slogan {
        font-size: 1.5vw;
        text-align: center;
    }

    .bloque {
        width: 3%;
        height: 3%;
        background-color: #00000000;
    }

    .botones {
        flex-direction: row;
        width: auto;
        gap: 1%;
    }

    .boton {
        width: auto;
        padding: 8px 5%;
        font-size: 3vw;
    }
    .Image-header {
    width: 100%;
    height: 70vh;
    overflow: hidden;
    position: relative;
    z-index: 1;
    }

    .Image-header img {
        width: 100%;
        height: 70vh; /* Ajusta este valor según tus necesidades */
        object-fit: fill;
        position: absolute;
        z-index: 1;
        left: 32vw;
        transform: translateX(-200px);
    }

    .triangulo {
        background-color: rgb(204, 240, 234);
        position: absolute;
        width: 50vw;
        height: 70vh;
        z-index: 2;
        clip-path: polygon(0 0, 100% 0, 70% 100%, 0 100%);
        margin-left: 0;
        flex-direction: column;
        align-content: end;
        justify-content: center;
        opacity: 0;
        transform: translateX(600px);
        animation: aparecer 1.5s ease forwards;
    }

    @keyframes aparecer {
    to {
        opacity: 1;
        transform: translate(0px);
    }

    }

    .content-triangulo {
        display: flex;
        position: absolute;
        top: 40vh;
        left: 5vw;
        z-index: 4;
        padding: 5px 20px;
        margin: 0;
        background-color: #557ebd;
        border-radius: 8px;
    }
    .content-triangulo h2{
        font-size: 5vw;
        margin: 0;
        color: #ffffff;
        font-weight: bold;
        font-family: "Montserrat";
    }

    .contenido-1 {
        display: flex;
        width: 100%;
        height: 40vh;
        background-color: #ffffff;
        margin-bottom: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }


    .block-1 h3 {
        font-size: 1.1rem;
        margin: 0;
        color: #333;
        font-weight: bold;
        font-family: 'Montserrat';
        margin-bottom: 10px;
    }


    .block-1 p {
        font-size: 0.8rem;
        margin: 0;
        color: #333;
        font-weight: bold;
        font-family: 'Montserrat';
    }


    .descripcion {
        position: absolute;
        top: 50vh;
        left: 5vw;
        background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con transparencia */
        padding: 10px 20px;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 4;
    }
    
    .descripcion p {
        margin: 0;
        font-size: 4vw;
        color: #333;
        font-weight: bold;
        font-family: 'Montserrat';
    }

    .contenido-principal {
        height: 100%;
        width: 100%;
        margin-left: 0;
        position: relative;
        z-index: 2;
    }


    .curso {
        width: 40vi;
        height: 20vi;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 10px;
        box-sizing: border-box;
        transition: opacity 0.5s ease-out, transform 0.5s ease-out;   
        transform: translateY(20px);
        opacity: 0;
        margin-top: 5vi;
    }
    
    .curso img{
        width: 40vi;
        height: 22vi;
        object-fit:contain;
        transition: transform 0.5s ease-in-out;
    }
    .curso img:hover {
        transform: scale(1.09) ;
        cursor: pointer;
    }

}
